<h1 class="secondaryFont" style="padding-bottom: 20px">Titre</h1>

<p>
	<img src="http://placehold.it/1024x340" style="width: 100%; margin-bottom: 20px;" />
</p>

<div class="row" style="margin-bottom: 40px">
	<div class="ox_col_large_2" style="text-align: justify">
		<h2 style="border-bottom: 1px solid #ccc; margin-bottom: 25px; padding-bottom: 10px">Sous-titre</h2>
		<div class="media" style="margin: 0">
			<div class="media-left">
				<img src="http://placehold.it/120x120" class="ox_medallion ox_mobile_hide" style="height: 120px; width: 120px" />
			</div>
			<div class="media-body">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam commodo fermentum euismod. Maecenas scelerisque, eros eu consequat rutrum, est dui lacinia nisl, eget laoreet metus massa id nunc. Nunc sodales porttitor felis, at tristique nisi iaculis ullamcorper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque ut maximus est. Praesent porta luctus dui, vitae ornare elit consectetur vitae.
			</div>
		</div>
	</div>

	<div class="ox_col_large_2" style="text-align: justify">
		<h2 style="border-bottom: 1px solid #ccc; margin-bottom: 25px; padding-bottom: 10px">Sous-titre</h2>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam commodo fermentum euismod. Maecenas scelerisque, eros eu consequat rutrum, est dui lacinia nisl, eget laoreet metus massa id nunc. Nunc sodales porttitor felis, at tristique nisi iaculis ullamcorper.
		</p>
		<ul class="ox_list square" style="margin: 20px">
			<li>Aliquam venenatis leo et orci.</li>
			<li>Pellentesque eleifend vulputate massa.</li>
			<li>Vivamus eleifend sollicitudin eros.</li>
			<li>Maecenas vitae nunc.</li>
		</ul>
		<p>
			Vivamus accumsan. Donec molestie pede vel urna. Curabitur eget sem ornare felis gravida vestibulum.Sed pulvinar, tellus in venenatis vehicula.
		</p>
	</div>
</div>

<div class="row">
	<div class="ox_col_large_2" style="text-align: center">
		<img class="ox_img_small ox_lightbox" data-ox-alternative="http://placehold.it/1024x768" src="http://placehold.it/225x225" style="margin: 10px; width: 40%" />
		<img class="ox_img_small ox_lightbox" data-ox-alternative="http://placehold.it/1024x768" src="http://placehold.it/225x225" style="margin: 10px; width: 40%;" />
	</div>

	<div class="ox_col_large_2" style="text-align: center">
		<img class="ox_img_small ox_lightbox" data-ox-alternative="http://placehold.it/1024x768" src="http://placehold.it/225x225" style="margin: 10px; width: 40%" />
		<img class="ox_img_small ox_lightbox" data-ox-alternative="http://placehold.it/1024x768" src="http://placehold.it/225x225" style="margin: 10px; width: 40%" />
	</div>
</div>
