<div class="row" style="margin-bottom: 30px; padding-top: 40px">
	<div class="ox_col_large_2">
		<img src="http://placehold.it/450x230" class="img-thumbnail" />
	</div>
	<div class="ox_col_large_2" style="text-align: justify">
		<h1 class="secondaryFont" style="padding-bottom: 20px">Titre</h1>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam commodo fermentum euismod. Maecenas scelerisque, eros eu consequat rutrum, est dui lacinia nisl, eget laoreet metus massa id nunc. Nunc sodales porttitor felis, at tristique nisi iaculis ullamcorper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque ut maximus est. Praesent porta luctus dui, vitae ornare elit consectetur vitae.
		</p>
	</div>
</div>

<h2 style="padding-bottom: 10px">Sous-titre</h2>

<div class="row" style="margin-bottom: 30px">
	<div class="ox_col_large_4" style="text-align: justify">
		<img src="http://placehold.it/280x280" class="img-thumbnail" style="width: 100%; margin-bottom: 20px" />
		<p style="padding: 0 10px">
			<strong>Nom</strong>
			<br />
			Poste
			<br />
			<br />
			<span style="font-size: 14px">Vestassapede et donec ut est liberos sus et eget sed eget. Quisqueta habitur augue magnisl magna phas ellus sagit titor ant curabi turpis.</span>
		</p>
	</div>

	<div class="ox_col_large_4" style="text-align: justify">
		<img src="http://placehold.it/280x280" class="img-thumbnail" style="width: 100%; margin-bottom: 20px" />
		<p style="padding: 0 10px">
			<strong>Nom</strong>
			<br />
			Poste
			<br />
			<br />
			<span style="font-size: 14px">Vestassapede et donec ut est liberos sus et eget sed eget. Quisqueta habitur augue magnisl magna phas ellus sagit titor ant curabi turpis.</span>
		</p>
	</div>

	<div class="ox_col_large_4" style="text-align: justify">
		<img src="http://placehold.it/280x280" class="img-thumbnail" style="width: 100%; margin-bottom: 20px" />
		<p style="padding: 0 10px">
			<strong>Nom</strong>
			<br />
			Poste
			<br />
			<br />
			<span style="font-size: 14px">Vestassapede et donec ut est liberos sus et eget sed eget. Quisqueta habitur augue magnisl magna phas ellus sagit titor ant curabi turpis.</span>
		</p>
	</div>
</div>

<h2 style="padding-bottom: 10px">Sous-titre</h2>

<div class="row" style="text-align: center">
	<img class="ox_img_small ox_lightbox" src="http://placehold.it/176x120" style="margin: 10px 1%; width: 17%" />
	<img class="ox_img_small ox_lightbox" src="http://placehold.it/176x120" style="margin: 10px 1%; width: 17%;" />
	<img class="ox_img_small ox_lightbox" src="http://placehold.it/176x120" style="margin: 10px 1%; width: 17%" />
	<img class="ox_img_small ox_lightbox" src="http://placehold.it/176x120" style="margin: 10px 1%; width: 17%" />
	<img class="ox_img_small ox_lightbox" src="http://placehold.it/176x120" style="margin: 10px 1%; width: 17%" />
</div>
