<div class="media" style="margin-top: 15px;">
	<div class="media-left" style="padding-right: 20px;">
		<img class="ox_lightbox" src="http://placehold.it/280x210" style="width: 280px; height: 210px;">
		<br />
		<br />
		<img alt="" class="ox_lightbox" src="http://placehold.it/90x75" style="width: 32%;">
		<img alt="" class="ox_lightbox" src="http://placehold.it/90x75" style="width: 32%;">
		<img alt="" class="ox_lightbox" src="http://placehold.it/90x75" style="width: 32%;">
		<br>
		<img alt="" class="ox_lightbox" src="http://placehold.it/90x75" style="width: 32%;">
		<img alt="" class="ox_lightbox" src="http://placehold.it/90x75" style="width: 32%;">
		<img alt="" class="ox_lightbox" src="http://placehold.it/90x75" style="width: 32%;">
	</div>

	<div class="media-body media-middle">
		Maison d'habitation située à Vimoutiers. Comprenant: une entrée, un séjour / salon avec cheminée insert, une cuisine aménagée et équipée d'un four et d'une plaque de gaz, 3 chambres, WC, salle de douche. Terrasse. Sous-sol complet avec chaudière fuel. Tout à l'égout. Beau terrain arboré.
		<br />
		<br />
		<a href="">(en savoir plus)</a>
		<br />
		<br />

		<div stlye="overflow-x: auto">
			<table class="table table-bordered" id="description">
				<tbody>
					<tr>
						<th style="text-align: center;">Surface</th>
						<th style="text-align: center;">Terrain</th>
						<th style="text-align: center;">Pièces</th>
						<th style="text-align: center;">Prix</th>
					</tr>
					<tr>
						<td style="text-align: center;">xxx m<sup>2</sup></td>
						<td style="text-align: center;">xxx m<sup>2</sup></td>
						<td style="text-align: center;">4</td>
						<td style="text-align: center;">prix €</td>
					</tr>
				</tbody>
			</table>
		</div>

		<br />

		<div style="float: left">
			<img alt="" src="http://hkcourtier.myoxxone.fr/datas/img/dpe-1.jpg" style="height: 250px" />
			<br />
			<span> Catégorie E : &lt; 286</span>
		</div>

		<div style="float: left">
			<img alt="" src="http://hkcourtier.myoxxone.fr/datas/img/gse.png" style="height: 250px" />
			<br />
			<span> Catégorie E : &lt; 48</span>
		</div>

		<div style="clear: both"></div>
	</div>
</div>