<h1 class="secondaryFont">Titre</h1>

<blockquote class="quote">
	<p>Aliquam consequat nec ex vitae vulputate. Mauris eget hendrerit velit.</p>
	<small>Auteur de la citation</small>
</blockquote>

<p>
	Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam commodo fermentum euismod. Maecenas scelerisque, eros eu consequat rutrum, est dui lacinia nisl, eget laoreet metus massa id nunc. Nunc sodales porttitor felis, at tristique nisi iaculis ullamcorper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque ut maximus est. Praesent porta luctus dui, vitae ornare elit consectetur vitae. Aliquam erat volutpat. Cras sagittis et massa gravida porta. Nam consectetur ligula leo, sed auctor ligula malesuada sed. In fringilla, neque hendrerit volutpat pellentesque, magna felis tincidunt justo, eu laoreet dui dui tristique turpis. Proin in tortor eget odio suscipit vulputate a a dolor. In cursus vitae enim et malesuada. Phasellus lacus nisi, hendrerit sit amet lectus vel, semper ultricies ex. Etiam ex nulla, eleifend quis tristique eget, pulvinar id ligula.
</p>

<p>
	<img src="http://placehold.it/984x656" style="width: 100%; margin-top: 15px; margin-bottom: 15px;" />
</p>

<h2 class="secondaryFont">Sous-titre</h2>

<p>
	Nam semper efficitur nibh, vitae pellentesque mi interdum auctor. Donec fermentum nisl non eros dictum, sit amet iaculis dolor pulvinar. Fusce sed massa commodo nisl pretium aliquam quis non odio. Proin feugiat tristique orci, et ornare justo. Praesent congue et metus id tempus. Morbi eget dui congue, accumsan diam iaculis, efficitur nibh. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
</p>

<div class="media" style="margin: 30px 0">
	<div class="media-left media-middle">
		<img class="ox_mobile_hide" src="http://placehold.it/300x561" />
	</div>

	<div class="media-body media-middle" style="text-align: center;">
		<img class="ox_img_small ox_lightbox" data-ox-alternative="http://placehold.it/1024x768" src="http://placehold.it/150x150" style="margin: 10px;" />
		<img class="ox_img_small ox_lightbox" data-ox-alternative="http://placehold.it/1024x768" src="http://placehold.it/150x150" style="margin: 10px;" />
		<img class="ox_img_small ox_lightbox" data-ox-alternative="http://placehold.it/1024x768" src="http://placehold.it/150x150" style="margin: 10px;" />

		<img class="ox_img_small ox_lightbox" data-ox-alternative="http://placehold.it/1024x768" src="http://placehold.it/150x150" style="margin: 10px;" />
		<img class="ox_img_small ox_lightbox" data-ox-alternative="http://placehold.it/1024x768" src="http://placehold.it/150x150" style="margin: 10px;" />
		<img class="ox_img_small ox_lightbox" data-ox-alternative="http://placehold.it/1024x768" src="http://placehold.it/150x150" style="margin: 10px;" />
		
		<img class="ox_img_small ox_lightbox" data-ox-alternative="http://placehold.it/1024x768" src="http://placehold.it/150x150" style="margin: 10px;" />
		<img class="ox_img_small ox_lightbox" data-ox-alternative="http://placehold.it/1024x768" src="http://placehold.it/150x150" style="margin: 10px;" />
		<img class="ox_img_small ox_lightbox" data-ox-alternative="http://placehold.it/1024x768" src="http://placehold.it/150x150" style="margin: 10px;" />
	</div>
</div>