<div class="description">
	<h1 class="secondaryFont" style="padding-bottom: 20px">Titre</h1>

	<div class="ox_row" style="margin-bottom: 30px">
		<div class="ox_col_large_4">
			<p style="padding: 20px 0">
				<span style="font-size: 25px; font-weight: lighter;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam commodo fermentum euismod. </span>
			</p>
		</div>

		<div class="ox_col_large_4">
			<img src="http://placehold.it/320x230" class="img-thumbnail" style="width: 100%; margin-bottom: 20px">
		</div>

		<div class="ox_col_large_4">
			<img src="http://placehold.it/320x230" class="img-thumbnail" style="width: 100%; margin-bottom: 20px">
		</div>
	</div>

	<div class="ox_separator"></div>

	<div class="ox_row" style="margin-bottom: 30px">
		<div class="ox_col_large_2">
			<h2 class="secondaryFont">Sous-titre</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam commodo fermentum euismod. Maecenas scelerisque, eros eu consequat rutrum, est dui lacinia nisl, eget laoreet metus massa id nunc. Nunc sodales porttitor felis, at tristique nisi iaculis ullamcorper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque ut maximus est.
			</p>
			<p>
				<br />
				<br />
			</p>
			<blockquote class="quote">
				<p>Aliquam consequat nec ex vitae vulputate. Mauris eget hendrerit velit.</p>
				<small>Auteur de la citation</small>
			</blockquote>
		</div>

		<div class="ox_col_large_2">
			<h2 class="secondaryFont">Sous-titre</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam commodo fermentum euismod. Maecenas scelerisque, eros eu consequat rutrum, est dui lacinia nisl, eget laoreet metus massa id nunc. Nunc sodales porttitor felis, at tristique nisi iaculis ullamcorper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque ut maximus est.
				<br />
				<br />
				<a href="/contact/" class="ox_button orange">nous contacter</a>
			</p>
		</div>
	</div>

	<div class="ox_separator"></div>


	<div class="ox_row" style="margin-bottom: 30px">
		<div class="ox_col_large_2">
			<h2 class="secondaryFont">Sous-titre</h2>
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam commodo fermentum euismod. Maecenas scelerisque, eros eu consequat rutrum, est dui lacinia nisl, eget laoreet metus massa id nunc. Nunc sodales porttitor felis, at tristique nisi iaculis ullamcorper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque ut maximus est.
			</p>
			<p>
				<br />
				<br />
			</p>
			<ul class="ox_list square">
	   			<li>
	   				<a href="#">Link 1</a>
	   			</li>
	   			<li>
	   				<a href="#">Link 2</a>
	   			</li>
	   			<li>
	   				<a href="#">Link 3</a>
	   			</li>
	   			<li>
	   				<a href="#">Link 4</a>
	   			</li>
	   			<li>
	   				<a href="#">Link 5</a>
	   			</li>
	   		</ul>
		</div>

		<div class="ox_col_large_2">
			
		</div>
	</div>
</div>