<div class="ox_row">
    <div class="ox_col_large_4">
    	<img src="http://placehold.it/215x145" style="margin-top: 20px; width: 100%;" />
   	</div>
   	<div class="ox_col_large_6">
   		<h2>Service n°1</h2>
	    <p>
	        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et semper massa, eget tempus elit. Praesent accumsan lorem dolor, vel imperdiet ante pellentesque quis. Sed libero diam, tincidunt eget diam a, pretium cursus ante. Quisque in neque varius, ullamcorper velit sollicitudin, tincidunt enim. Nam tellus justo, vulputate et tellus nec, consequat auctor ex. Pellentesque aliquet, sapien in interdum malesuada, metus tortor pretium metus, nec porta nibh magna a dui. Aenean felis erat, egestas tristique viverra sed, efficitur vitae lacus. Fusce sed est eu est iaculis hendrerit in sed dui. 
	        <br />
	        <br />
	        <a href="#" role="button">Voir la suite »</a>
	    </p>
   	</div>
</div>

<div class="ox_row">
    <div class="ox_col_large_4">
    	<img src="http://placehold.it/215x145" style="margin-top: 20px; width: 100%;" />
   	</div>
   	<div class="ox_col_large_6">
   		<h2>Service n°2</h2>
	    <p>
	        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et semper massa, eget tempus elit. Praesent accumsan lorem dolor, vel imperdiet ante pellentesque quis. Sed libero diam, tincidunt eget diam a, pretium cursus ante. Quisque in neque varius, ullamcorper velit sollicitudin, tincidunt enim. Nam tellus justo, vulputate et tellus nec, consequat auctor ex. Pellentesque aliquet, sapien in interdum malesuada, metus tortor pretium metus, nec porta nibh magna a dui. Aenean felis erat, egestas tristique viverra sed, efficitur vitae lacus. Fusce sed est eu est iaculis hendrerit in sed dui. 
	        <br />
	        <br />
	        <a href="#" role="button">Voir la suite »</a>
	    </p>
   	</div>
</div>

<div class="ox_row">
    <div class="ox_col_large_4">
    	<img src="http://placehold.it/215x145" style="margin-top: 20px; width: 100%;" />
   	</div>
   	<div class="ox_col_large_6">
   		<h2>Service n°3</h2>
	    <p>
	        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et semper massa, eget tempus elit. Praesent accumsan lorem dolor, vel imperdiet ante pellentesque quis. Sed libero diam, tincidunt eget diam a, pretium cursus ante. Quisque in neque varius, ullamcorper velit sollicitudin, tincidunt enim. Nam tellus justo, vulputate et tellus nec, consequat auctor ex. Pellentesque aliquet, sapien in interdum malesuada, metus tortor pretium metus, nec porta nibh magna a dui. Aenean felis erat, egestas tristique viverra sed, efficitur vitae lacus. Fusce sed est eu est iaculis hendrerit in sed dui. 
	        <br />
	        <br />
	        <a href="#" role="button">Voir la suite »</a>
	    </p>
   	</div>
</div>

<div class="ox_row">
    <div class="ox_col_large_4">
    	<img src="http://placehold.it/215x145" style="margin-top: 20px; width: 100%;" />
   	</div>
   	<div class="ox_col_large_6">
   		<h2>Service n°4</h2>
	    <p>
	        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et semper massa, eget tempus elit. Praesent accumsan lorem dolor, vel imperdiet ante pellentesque quis. Sed libero diam, tincidunt eget diam a, pretium cursus ante. Quisque in neque varius, ullamcorper velit sollicitudin, tincidunt enim. Nam tellus justo, vulputate et tellus nec, consequat auctor ex. Pellentesque aliquet, sapien in interdum malesuada, metus tortor pretium metus, nec porta nibh magna a dui. Aenean felis erat, egestas tristique viverra sed, efficitur vitae lacus. Fusce sed est eu est iaculis hendrerit in sed dui. 
	        <br />
	        <br />
	        <a href="#" role="button">Voir la suite »</a>
	    </p>
   	</div>
</div>

<div class="ox_row">
    <div class="ox_col_large_4">
    	<img src="http://placehold.it/215x145" style="margin-top: 20px; width: 100%;" />
   	</div>
   	<div class="ox_col_large_6">
   		<h2>Service n°5</h2>
	    <p>
	        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer et semper massa, eget tempus elit. Praesent accumsan lorem dolor, vel imperdiet ante pellentesque quis. Sed libero diam, tincidunt eget diam a, pretium cursus ante. Quisque in neque varius, ullamcorper velit sollicitudin, tincidunt enim. Nam tellus justo, vulputate et tellus nec, consequat auctor ex. Pellentesque aliquet, sapien in interdum malesuada, metus tortor pretium metus, nec porta nibh magna a dui. Aenean felis erat, egestas tristique viverra sed, efficitur vitae lacus. Fusce sed est eu est iaculis hendrerit in sed dui. 
	        <br />
	        <br />
	        <a href="#" role="button">Voir la suite »</a>
	    </p>
   	</div>
</div>