<div class="ox_row">
    <div class="ox_col_large_4">
   		<div class="ox_card" style="margin: 20px 0">
	   		<img class="ox_lightbox"  data-ox-alternative="http://placehold.it/1024x768"  src="http://placehold.it/350x200" style="width: 100%; margin-bottom: 20px;" />
	   		<div class="ox_card_content">
		   		<h3>Titre</h3>
		   		<p class="ox_card_description">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam commodo fermentum euismod. Maecenas scelerisque, eros eu consequat rutrum, est dui lacinia nisl, eget laoreet metus massa id nunc. Nunc sodales porttitor felis, at tristique nisi iaculis ullamcorper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque ut maximus est.
					<br />
					<br />
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam commodo fermentum euismod. Maecenas scelerisque, eros eu consequat rutrum, est dui lacinia nisl, eget laoreet metus massa id nunc. Nunc sodales porttitor felis, at tristique nisi iaculis ullamcorper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque ut maximus est.
				</p>
				<p class="ox_card_price">
					100 &euro;
				</p>
			</div>
	   	</div>
   	</div>
    <div class="ox_col_large_4">
   		<div class="ox_card" style="margin: 20px 0">
	   		<img class="ox_lightbox"  data-ox-alternative="http://placehold.it/1024x768"  src="http://placehold.it/350x200" style="width: 100%; margin-bottom: 20px;" />
	   		<div class="ox_card_content">
		   		<h3>Titre</h3>
		   		<p class="ox_card_description">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam commodo fermentum euismod. Maecenas scelerisque, eros eu consequat rutrum, est dui lacinia nisl, eget laoreet metus massa id nunc. Nunc sodales porttitor felis, at tristique nisi iaculis ullamcorper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque ut maximus est.
				</p>
				<p class="ox_card_price">
					100 &euro;
				</p>
			</div>
	   	</div>
   	</div>
   	<div class="ox_col_large_4">
   		<div class="ox_card" style="margin: 20px 0">
	   		<img class="ox_lightbox"  data-ox-alternative="http://placehold.it/1024x768"  src="http://placehold.it/350x200" style="width: 100%; margin-bottom: 20px;" />
	   		<div class="ox_card_content">
		   		<h3>Titre</h3>
		   		<p class="ox_card_description">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam commodo fermentum euismod. Maecenas scelerisque, eros eu consequat rutrum, est dui lacinia nisl, eget laoreet metus massa id nunc. Nunc sodales porttitor felis, at tristique nisi iaculis ullamcorper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque ut maximus est.
				</p>
				<p class="ox_card_price">
					100 &euro;
				</p>
			</div>
	   	</div>
   	</div>
</div>

<div class="ox_row">
    <div class="ox_col_large_4">
   		<div class="ox_card" style="margin: 20px 0">
	   		<img class="ox_lightbox"  data-ox-alternative="http://placehold.it/1024x768"  src="http://placehold.it/350x200" style="width: 100%; margin-bottom: 20px;" />
	   		<div class="ox_card_content">
		   		<h3>Titre</h3>
		   		<p class="ox_card_description">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam commodo fermentum euismod. Maecenas scelerisque, eros eu consequat rutrum, est dui lacinia nisl, eget laoreet metus massa id nunc. Nunc sodales porttitor felis, at tristique nisi iaculis ullamcorper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque ut maximus est.
				</p>
				<p class="ox_card_price">
					100 &euro;
				</p>
			</div>
	   	</div>
   	</div>
    <div class="ox_col_large_4">
   		<div class="ox_card" style="margin: 20px 0">
	   		<img class="ox_lightbox"  data-ox-alternative="http://placehold.it/1024x768"  src="http://placehold.it/350x200" style="width: 100%; margin-bottom: 20px;" />
	   		<div class="ox_card_content">
		   		<h3>Titre</h3>
		   		<p class="ox_card_description">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam commodo fermentum euismod. Maecenas scelerisque, eros eu consequat rutrum, est dui lacinia nisl, eget laoreet metus massa id nunc. Nunc sodales porttitor felis, at tristique nisi iaculis ullamcorper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque ut maximus est.
				</p>
				<p class="ox_card_price">
					100 &euro;
				</p>
			</div>
	   	</div>
   	</div>
   	<div class="ox_col_large_4">
   		<div class="ox_card" style="margin: 20px 0">
	   		<img class="ox_lightbox"  data-ox-alternative="http://placehold.it/1024x768"  src="http://placehold.it/350x200" style="width: 100%; margin-bottom: 20px;" />
	   		<div class="ox_card_content">
		   		<h3>Titre</h3>
		   		<p class="ox_card_description">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam commodo fermentum euismod. Maecenas scelerisque, eros eu consequat rutrum, est dui lacinia nisl, eget laoreet metus massa id nunc. Nunc sodales porttitor felis, at tristique nisi iaculis ullamcorper.
				</p>
				<p class="ox_card_price">
					100 &euro;
				</p>
			</div>
	   	</div>
   	</div>
</div>