<h1 class="secondaryFont">Titre</h1>

<p>&nbsp;</p>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur et tempor dolor. Praesent est nunc, laoreet et lacus sit
    amet, maximus viverra quam. Nam dictum lectus nec ipsum pellentesque feugiat. Sed euismod libero eu laoreet laoreet.
    Sed eget condimentum orci. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam
    at dolor ex. Proin maximus nunc at felis maximus, ut scelerisque ligula interdum. Orci varius natoque penatibus et magnis
    dis parturient montes, nascetur ridiculus mus. Duis ac mattis eros. Suspendisse vehicula sapien at magna ornare dictum.
    Vestibulum vitae pharetra dolor. Nullam massa magna, rutrum vitae interdum quis, fringilla a massa. Curabitur vitae neque
    sed lectus pellentesque dapibus. Proin consequat hendrerit mi eu commodo. Aenean pharetra diam fringilla urna convallis
    vulputate. Praesent vehicula nunc mauris, quis maximus tellus hendrerit at.</p>

<p>&nbsp;</p>

<div class="ox_row">
    <div class="ox_col_large_2" style="margin: 10px 0; padding: 0;">
        <div style="margin: auto; background: url(http://placehold.it/400x400) no-repeat center center; background-size: cover; height: 400px; width: 400px; border-radius: 50%;">
            <div style="background: rgba(0, 0, 0, 0.3); color: #fff !important; height: 100%; text-align: center; width: 100%; border-radius: 50%;">
                <h3 class="secondaryFont" style="border-bottom: 1px solid #fff; font-size: 24px; margin: 0 auto 30% auto; padding-top: 30px; width: 50%">Titre</h3>

                <p style="margin: auto; width: 60%">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean aliquam dolor dui, eget sollicitudin erat
                    aliquam vitae. Nullam sed tincidunt justo. Nam molestie condimentum urna, in congue arcu placerat quis.
                    Pellentesque a sapien purus. Nulla tincidunt non risus at malesuada. In placerat metus at tincidunt rhoncus.
                    <br
                    />
                    <br />
                    <a class="transparent ox_button" href="">voir la page</a>
                </p>
            </div>
        </div>
    </div>

    <div class="ox_col_large_2" style="margin: 10px 0; padding: 0;">
        <div style="margin: auto; background: url(http://placehold.it/400x400) no-repeat center center; background-size: cover; height: 400px; width: 400px; border-radius: 50%;">
            <div style="background: rgba(0, 0, 0, 0.3); color: #fff !important; height: 100%; text-align: center; width: 100%; border-radius: 50%;">
                <h3 class="secondaryFont" style="border-bottom: 1px solid #fff; font-size: 24px; margin: 0 auto 30% auto; padding-top: 30px; width: 50%">Titre</h3>

                <p style="margin: auto; width: 60%">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean aliquam dolor dui, eget sollicitudin erat
                    aliquam vitae. Nullam sed tincidunt justo. Nam molestie condimentum urna, in congue arcu placerat quis.
                    Pellentesque a sapien purus. Nulla tincidunt non risus at malesuada. In placerat metus at tincidunt rhoncus.
                    <br
                    />
                    <br />
                    <a class="transparent ox_button" href="">voir la page</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="ox_row">
    <div class="ox_col_large_2" style="margin: 10px 0; padding: 0;">
        <div style="margin: auto; background: url(http://placehold.it/400x400) no-repeat center center; background-size: cover; height: 400px; width: 400px; border-radius: 50%;">
            <div style="background: rgba(0, 0, 0, 0.3); color: #fff !important; height: 100%; text-align: center; width: 100%; border-radius: 50%">
                <h3 class="secondaryFont" style="border-bottom: 1px solid #fff; font-size: 24px; margin: 0 auto 30% auto; padding-top: 30px; width: 50%">Titre</h3>

                <p style="margin: auto; width: 60%">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean aliquam dolor dui, eget sollicitudin erat
                    aliquam vitae. Nullam sed tincidunt justo. Nam molestie condimentum urna, in congue arcu placerat quis.
                    Pellentesque a sapien purus. Nulla tincidunt non risus at malesuada. In placerat metus at tincidunt rhoncus.
                    <br
                    />
                    <br />
                    <a class="transparent ox_button" href="">voir la page</a>
                </p>
            </div>
        </div>
    </div>

    <div class="ox_col_large_2" style="margin: 10px 0; padding: 0;">
        <div style="margin: auto; background: url(http://placehold.it/400x400) no-repeat center center; background-size: cover; height: 400px; width: 400px; border-radius: 50%;">
            <div style="background: rgba(0, 0, 0, 0.3); color: #fff !important; height: 100%; text-align: center; width: 100%; border-radius: 50%">
                <h3 class="secondaryFont" style="border-bottom: 1px solid #fff; font-size: 24px; margin: 0 auto 30% auto; padding-top: 30px; width: 50%">Titre</h3>

                <p style="margin: auto; width: 60%">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean aliquam dolor dui, eget sollicitudin erat
                    aliquam vitae. Nullam sed tincidunt justo. Nam molestie condimentum urna, in congue arcu placerat quis.
                    Pellentesque a sapien purus. Nulla tincidunt non risus at malesuada. In placerat metus at tincidunt rhoncus.
                    <br
                    />
                    <br />
                    <a class="transparent ox_button" href="">voir la page</a>
                </p>
            </div>
        </div>
    </div>
</div>
