<div class="ox_row">
    <div class="ox_col_large_4">
   		<div class="ox_links">
	   		<h3>Liens utiles</h3>
	   		<ul class="ox_list square">
	   			<li>
	   				<a href="#">Link 1</a>
	   			</li>
	   			<li>
	   				<a href="#">Link 2</a>
	   			</li>
	   			<li>
	   				<a href="#">Link 3</a>
	   			</li>
	   			<li>
	   				<a href="#">Link 4</a>
	   			</li>
	   			<li>
	   				<a href="#">Link 5</a>
	   			</li>
	   		</ul>
	   		<h3>Autres infos</h3>
	   		<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam commodo fermentum euismod. Maecenas scelerisque, eros eu consequat rutrum, est dui lacinia nisl, eget laoreet metus massa id nunc. Nunc sodales porttitor felis, at tristique nisi iaculis ullamcorper. 
			</p>
	   	</div>
   	</div>
    <div class="ox_col_large_6">
    	<h1 class="secondaryFont">Titre</h1>
    	<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam commodo fermentum euismod. Maecenas scelerisque, eros eu consequat rutrum, est dui lacinia nisl, eget laoreet metus massa id nunc. Nunc sodales porttitor felis, at tristique nisi iaculis ullamcorper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque ut maximus est. Praesent porta luctus dui, vitae ornare elit consectetur vitae. Aliquam erat volutpat. Cras sagittis et massa gravida porta. Nam consectetur ligula leo, sed auctor ligula malesuada sed. In fringilla, neque hendrerit volutpat pellentesque, magna felis tincidunt justo, eu laoreet dui dui tristique turpis. Proin in tortor eget odio suscipit vulputate a a dolor. In cursus vitae enim et malesuada. Phasellus lacus nisi, hendrerit sit amet lectus vel, semper ultricies ex. Etiam ex nulla, eleifend quis tristique eget, pulvinar id ligula.
		</p>

		<h2 class="secondaryFont">Sous-titre</h1>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam commodo fermentum euismod. Maecenas scelerisque, eros eu consequat rutrum, est dui lacinia nisl, eget laoreet metus massa id nunc. Nunc sodales porttitor felis, at tristique nisi iaculis ullamcorper. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Quisque ut maximus est. Praesent porta luctus dui, vitae ornare elit consectetur vitae. Aliquam erat volutpat. Cras sagittis et massa gravida porta. Nam consectetur ligula leo, sed auctor ligula malesuada sed. In fringilla, neque hendrerit volutpat pellentesque, magna felis tincidunt justo, eu laoreet dui dui tristique turpis. Proin in tortor eget odio suscipit vulputate a a dolor. In cursus vitae enim et malesuada. Phasellus lacus nisi, hendrerit sit amet lectus vel, semper ultricies ex. Etiam ex nulla, eleifend quis tristique eget, pulvinar id ligula.
		</p>
		<ul class="ox_list square" style="margin: 20px">
			<li>Aliquam venenatis leo et orci.</li>
			<li>Pellentesque eleifend vulputate massa.</li>
			<li>Vivamus eleifend sollicitudin eros.</li>
			<li>Maecenas vitae nunc.</li>
		</ul>
		<p>
			Vivamus accumsan. Donec molestie pede vel urna. Curabitur eget sem ornare felis gravida vestibulum.Sed pulvinar, tellus in venenatis vehicula.
		</p>
   	</div>
</div>